@import '../../node_modules/air-datepicker/air-datepicker.css';

@import '../../node_modules/swiper/swiper-bundle.css';

html {
  font-size: 24px;
}

body {
  margin: 0;
  padding: 0;
  letter-spacing: 0.3;
  font-family: nimbussanlcy;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

body * {
  color: #fff;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  padding: 0;
  margin: 0;
}

body ul,
body ol {
  list-style-type: none;
}

body a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

body .wrapper {
  background-color: black;
  width: 100%;
  position: relative;
}

body .container {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .section {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 3;
  overflow: hidden;
  min-width: 0;
}

.lock {
  overflow: hidden;
}

@font-face {
  font-family: nimbussanlcy;
  font-display: swap;
  src: url("../fonts/nimbussanlcy-italic.woff2") format("woff2"), url("../fonts/nimbussanlcy-italic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: ceremonious;
  font-display: swap;
  src: url("../fonts/ceremonious-one.woff2") format("woff2"), url("../fonts/ceremonious-one.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 24px 0;
  background-color: rgba(14, 13, 18, 0.9);
  z-index: 10;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 10;
}

.header__menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.header__toggle-menu {
  width: 40px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 15;
  cursor: pointer;
}

.header__toggle-menu div {
  width: 100%;
  height: 3px;
  top: 50%;
  -webkit-transform: translate(0, -50%) !important;
      -ms-transform: translate(0, -50%) !important;
          transform: translate(0, -50%) !important;
  background-color: #fff;
  position: relative;
  opacity: 1;
  visibility: visible;
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: -webkit-transform 0.5s 0.1s;
  transition: -webkit-transform 0.5s 0.1s;
  -o-transition: transform 0.5s 0.1s;
  transition: transform 0.5s 0.1s;
  transition: transform 0.5s 0.1s, -webkit-transform 0.5s 0.1s;
}

.header__toggle-menu::after,
.header__toggle-menu::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.header__toggle-menu::after {
  bottom: 0;
}

.header__toggle-menu::before {
  top: 0;
}

.header__toggle-menu.active::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 50%;
}

.header__toggle-menu.active::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 50%;
}

.header__toggle-menu.active div {
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  opacity: 0;
  visibility: hidden;
}

.logo__title h3 {
  letter-spacing: 2px;
  font-size: 2rem;
}

.logo__title h3 a {
  color: rgb(255, 51, 0);
}

.menu {
  background-color: rgb(14, 13, 18);
  margin-left: 200%;
  -webkit-transition: all 0.8s ease-in;
  -o-transition: all 0.8s ease-in;
  transition: all 0.8s ease-in;
}

.menu.active .menu__list li:nth-child(1) {
  -webkit-animation: toRight 0.7s cubic-bezier(0.65, 0.05, 0.3, 0.99) 0.5s;
          animation: toRight 0.7s cubic-bezier(0.65, 0.05, 0.3, 0.99) 0.5s;
}

.menu.active .menu__list li:nth-child(2) {
  -webkit-animation: toRight 0.8s cubic-bezier(0.65, 0.05, 0.3, 0.99) 0.5s;
          animation: toRight 0.8s cubic-bezier(0.65, 0.05, 0.3, 0.99) 0.5s;
}

.menu.active .menu__list li:nth-child(3) {
  -webkit-animation: toRight 0.9s cubic-bezier(0.65, 0.05, 0.3, 0.99) 0.5s;
          animation: toRight 0.9s cubic-bezier(0.65, 0.05, 0.3, 0.99) 0.5s;
}

.menu.active .menu__list li:nth-child(4) {
  -webkit-animation: toRight 1s cubic-bezier(0.65, 0.05, 0.3, 0.99) 0.5s;
          animation: toRight 1s cubic-bezier(0.65, 0.05, 0.3, 0.99) 0.5s;
}

.menu.active .menu__list li:nth-child(5) {
  -webkit-animation: toRight 1.1s cubic-bezier(0.65, 0.05, 0.3, 0.99) 0.5s;
          animation: toRight 1.1s cubic-bezier(0.65, 0.05, 0.3, 0.99) 0.5s;
}

.menu.active .menu__img {
  -webkit-animation: toRightImg 1.5s cubic-bezier(0.65, 0.05, 0.3, 0.99) 0.3s;
          animation: toRightImg 1.5s cubic-bezier(0.65, 0.05, 0.3, 0.99) 0.3s;
}

.menu__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 100px !important;
  position: relative;
}

.menu__img {
  position: absolute;
}

.menu__img img {
  opacity: 0.5;
}

.menu__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__list {
  width: 40%;
  margin: auto;
  text-align: end;
  overflow: hidden;
  padding: 0 1rem;
}

.menu__list li {
  padding: 50px 0px 0;
  font-size: 1.5rem;
}

.menu.active {
  margin-left: 0;
}

@-webkit-keyframes toRight {
  0% {
    -webkit-transform: translate(-300%, 0);
            transform: translate(-300%, 0);
    opacity: 0;
  }

  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes toRight {
  0% {
    -webkit-transform: translate(-300%, 0);
            transform: translate(-300%, 0);
    opacity: 0;
  }

  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes toRightImg {
  0% {
    -webkit-transform: scale(1.5) translate(100%, 0);
            transform: scale(1.5) translate(100%, 0);
    opacity: 0;
  }

  100% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
    opacity: 1;
  }
}

@keyframes toRightImg {
  0% {
    -webkit-transform: scale(1.5) translate(100%, 0);
            transform: scale(1.5) translate(100%, 0);
    opacity: 0;
  }

  100% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
    opacity: 1;
  }
}

.home {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 0;
}

.home__container {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 2;
}

.home__heading {
  position: absolute;
  top: 55%;
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.home__heading h1 {
  font-size: 5rem;
  letter-spacing: 10px;
  text-shadow: 0 0 0 #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home__heading h1 span {
  color: rgb(255, 51, 0);
}

.home__heading h3 {
  font-family: 1;
  letter-spacing: 2px;
  font-size: 1.5rem;
}

.scroll {
  height: 20px;
  position: relative;
}

.scroll img {
  position: absolute;
  top: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-animation: floating-arrow-up 2s linear 0s infinite alternate none;
          animation: floating-arrow-up 2s linear 0s infinite alternate none;
}

@-webkit-keyframes floating-arrow-up {
  0% {
    top: -50%;
  }

  100% {
    top: 50%;
  }
}

@keyframes floating-arrow-up {
  0% {
    top: -50%;
  }

  100% {
    top: 50%;
  }
}

.section__about .container-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about._active .about__img {
  -webkit-transform: translate(0, 0) scale(1);
      -ms-transform: translate(0, 0) scale(1);
          transform: translate(0, 0) scale(1);
  opacity: 1;
}

.about__img {
  width: 50%;
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
  -webkit-transform: translate(-30%, 0) scale(0);
      -ms-transform: translate(-30%, 0) scale(0);
          transform: translate(-30%, 0) scale(0);
  opacity: 0;
}

.about__content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.8s ease 0.3s;
  -o-transition: all 0.8s ease 0.3s;
  transition: all 0.8s ease 0.3s;
  opacity: 0;
  -webkit-transform: scale(2);
      -ms-transform: scale(2);
          transform: scale(2);
}

.about__content._active {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.about__icon img {
  opacity: 0.5;
  width: 300px;
}

.about__title {
  font-size: 2rem;
}

.about__text {
  padding: 1rem 0;
}

.section__instructions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.instructions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.instructions__home {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.instructions__image {
  padding-right: 1.5rem;
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  opacity: 0;
}

.instructions__image._active {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.instructions__title {
  font-size: 3rem;
  margin-bottom: 2rem;
  -webkit-transform: translate(120%);
      -ms-transform: translate(120%);
          transform: translate(120%);
  -webkit-transition: all 0.8s ease 0.4s;
  -o-transition: all 0.8s ease 0.4s;
  transition: all 0.8s ease 0.4s;
}

.instructions__title._active {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}

.instructions__step {
  width: 50%;
  padding: 1.5rem 0;
}

.instructions__step h2,
.instructions__step h3,
.instructions__step p {
  padding: 1rem 0;
  text-align: center;
  letter-spacing: 2px;
}

.instructions__step p {
  color: rgb(166, 210, 248);
  padding: 0 0 1rem;
}

.instructions__step--1 {
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
  -webkit-transform: translate(-120%, 0);
      -ms-transform: translate(-120%, 0);
          transform: translate(-120%, 0);
  opacity: 0;
}

.instructions__step--1._active {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.instructions__step--2 {
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
  -webkit-transform: translate(120%, 0);
      -ms-transform: translate(120%, 0);
          transform: translate(120%, 0);
  opacity: 0;
}

.instructions__step--2._active {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.instructions__step--3 {
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
  -webkit-transform: translate(-120%, 0);
      -ms-transform: translate(-120%, 0);
          transform: translate(-120%, 0);
  opacity: 0;
}

.instructions__step--3._active {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.instructions__step--4 {
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
  -webkit-transform: translate(120%, 0);
      -ms-transform: translate(120%, 0);
          transform: translate(120%, 0);
  opacity: 0;
}

.instructions__step--4._active {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.instructions__step--5 {
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  opacity: 0;
}

.instructions__step--5._active {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.step__number-title {
  font-size: 4rem;
}

.portfolio__start-block {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.portfolio__start-block._active img {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.start-block {
  position: relative;
}

.start-block__bg {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.start-block__bg img {
  -webkit-transition: all 0.8s ease 0.3s;
  -o-transition: all 0.8s ease 0.3s;
  transition: all 0.8s ease 0.3s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.start-block__content {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 60%;
  -webkit-transform: translate(-50%, -20%);
      -ms-transform: translate(-50%, -20%);
          transform: translate(-50%, -20%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.start-block__title {
  font-size: 5rem;
  letter-spacing: 10px;
  margin-bottom: 2rem;
  text-shadow: 0 0 3px #000, 0 0 6px #000 !important;
  -webkit-transition: all 0.8s ease 0.5s;
  -o-transition: all 0.8s ease 0.5s;
  transition: all 0.8s ease 0.5s;
  -webkit-transform: scale(3);
      -ms-transform: scale(3);
          transform: scale(3);
  opacity: 0;
}

.start-block__title._active {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.slider {
  padding-bottom: 3rem;
}

.slider .swiper-scrollbar {
  margin: 0 0 30px;
  background-color: rgba(68, 68, 68, 0.5);
  height: 3px;
}

.slider .swiper-scrollbar-drag {
  height: 1px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  -webkit-box-shadow: 0 0 7px 1px #fff;
          box-shadow: 0 0 7px 1px #fff;
}

.image-slider {
  padding: 30px 0px 70px 0px;
}

.image-slider__image {
  text-align: center;
  height: 450px;
}

.image-slider__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}

.slider__buttons .swiper-button-next,
.slider__buttons .swiper-button-prev {
  position: static;
}

.slider__buttons .swiper-button-next::after,
.slider__buttons .swiper-button-prev::after {
  -webkit-transform: translateY(25%);
      -ms-transform: translateY(25%);
          transform: translateY(25%);
  color: rgba(255, 255, 255, 0.5);
}

.slider__buttons .swiper-button-next:hover::after,
.slider__buttons .swiper-button-prev:hover::after {
  color: rgb(255, 255, 255);
}

.swiper-pagination {
  position: static;
  padding: 0 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.swiper-button-next {
  right: -5px;
}

.swiper-button-prev {
  left: -5px;
}

.contacts__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 2;
  -webkit-transition: 0.8s ease 0.1s;
  -o-transition: 0.8s ease 0.1s;
  transition: 0.8s ease 0.1s;
  -webkit-transform: translate(0, 100%) scale(2);
      -ms-transform: translate(0, 100%) scale(2);
          transform: translate(0, 100%) scale(2);
  opacity: 0;
}

.contacts__item {
  width: 50%;
}

.contacts__item--form {
  width: 40%;
}

.section__contacts._active .contacts__row {
  -webkit-transform: translate(0, 0) scale(1);
      -ms-transform: translate(0, 0) scale(1);
          transform: translate(0, 0) scale(1);
  opacity: 1;
}

.item__title {
  font-size: 2.5rem;
}

.item__title h2 {
  letter-spacing: 7px;
}

.item__subtitle {
  padding-left: 1rem;
  margin-bottom: 1rem;
}

.item__content-text {
  padding-left: 1rem;
  margin-bottom: 2rem;
}

.item__content-text p {
  margin: 0.5rem 0 0;
}

.item__content-text a {
  font-family: inherit;
}

.item__content-text a:hover {
  color: rgb(255, 51, 0);
}

.form__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1rem;
}

.form__item label {
  margin-bottom: 0.5rem;
  color: rgba(255, 255, 255, 0.486);
}

.form__item input {
  padding: 10px 10px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.486);
  border-radius: 25px;
  font-size: 1rem;
}

.form__item--buttons {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 1rem;
}

.form__item--buttons input {
  width: 50%;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  letter-spacing: 3px;
}

.form__item--buttons input.reset {
  border-radius: 25px 0 0 25px;
  border-width: 2px 1px 2px 2px;
}

.form__item--buttons input.submit {
  border-radius: 0 25px 25px 0;
  border-width: 2px 2px 2px 1px;
}

.form__item--buttons input:hover {
  background-color: rgb(255, 51, 0);
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.anim-down {
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
  -webkit-transform: translate(0, 120%) scale(0.5);
      -ms-transform: translate(0, 120%) scale(0.5);
          transform: translate(0, 120%) scale(0.5);
  opacity: 0;
}

.anim-down._active {
  -webkit-transform: translate(0, 0) scale(1);
      -ms-transform: translate(0, 0) scale(1);
          transform: translate(0, 0) scale(1);
  opacity: 1;
}

.txt-center {
  text-align: center;
}

.title-style {
  font-family: ceremonious;
  color: rgb(255, 51, 0);
  text-shadow: 0 0 5px #000;
  letter-spacing: 3px;
}

.bg-scin {
  background: url("../img/bg-scin2.webp") fixed;
  -webkit-backface-visibility: visible;
          backface-visibility: visible;
  position: relative;
}

.bg-scin::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(14, 13, 18, 0.9);
  z-index: 1;
}

.home {
  background: url("../img/bg-home.webp") center/contain fixed no-repeat;
}

.scroll {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.scroll img {
  width: 35px;
}

.scroll__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.scroll-link {
  color: #fff;
}

.scroll-link:hover {
  color: rgb(255, 51, 0);
}

.section__border {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.section__border::after,
.section__border::before {
  content: "";
  position: absolute;
  width: 48%;
  height: 1px;
  top: 50%;
  background-color: rgba(255, 255, 255, 0.5);
}

.section__border::after {
  right: 0;
}

.section__border::before {
  left: 0;
}

.section__border img {
  width: 1.5rem;
  opacity: 0.5;
}

.no-webp .section__contacts{
  background: url("../img/bg-footer.png") center/cover no-repeat; }

.section__contacts {
  position: relative;
  z-index: 0;
}

.section__contacts::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(14, 13, 18, 0.5);
  z-index: 1;
}

.footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgb(14, 13, 18);
}

.footer p {
  font-size: 0.5rem;
}

.scroll-up {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 30px;
  height: 30px;
  border-top: 2px rgba(255, 255, 255, 0.5) solid;
  border-left: 2px rgba(255, 255, 255, 0.5) solid;
  -webkit-transform: translate(0, 100%) rotate(45deg);
      -ms-transform: translate(0, 100%) rotate(45deg);
          transform: translate(0, 100%) rotate(45deg);
  -webkit-animation: scrollUp 3s cubic-bezier(0.25, 0.25, 0.68, 0.68) infinite;
          animation: scrollUp 3s cubic-bezier(0.25, 0.25, 0.68, 0.68) infinite;
  z-index: 3;
}

@-webkit-keyframes scrollUp {
  0% {
    -webkit-transform: translate(0, 25%) rotate(45deg);
            transform: translate(0, 25%) rotate(45deg);
  }

  50% {
    -webkit-transform: translate(0, -25%) rotate(45deg);
            transform: translate(0, -25%) rotate(45deg);
  }

  100% {
    -webkit-transform: translate(0, 25%) rotate(45deg);
            transform: translate(0, 25%) rotate(45deg);
  }
}

@keyframes scrollUp {
  0% {
    -webkit-transform: translate(0, 25%) rotate(45deg);
            transform: translate(0, 25%) rotate(45deg);
  }

  50% {
    -webkit-transform: translate(0, -25%) rotate(45deg);
            transform: translate(0, -25%) rotate(45deg);
  }

  100% {
    -webkit-transform: translate(0, 25%) rotate(45deg);
            transform: translate(0, 25%) rotate(45deg);
  }
}

.swiper {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .menu__list {
    margin: 0 10rem 0 0;
  }
}

@media screen and (max-width: 1024px) {
  .container-about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .container-about .about__img {
    width: 30%;
    padding-left: 2rem;
  }

  .container-about .about__img img {
    width: 100%;
  }

  .instructions__step {
    width: 90%;
  }

  .contacts__item--form {
    width: 50%;
  }
}

@media screen and (max-width: 992px) {
  .home__heading h1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 20px;
  }

  .menu__list {
    margin: auto;
  }

  .menu__img {
    display: none;
  }

  .home__heading h1 {
    font-size: 4.2rem;
  }

  .instructions__image {
    width: 100%;
  }

  .instructions__image img {
    width: 100%;
  }

  .contacts__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contacts__item {
    width: 100%;
    text-align: center;
  }

  .item__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media screen and (max-width: 660px) {
  .menu__list {
    width: 90%;
  }
}

@media screen and (max-width: 576px) {
  .start-block__title {
    font-size: 4rem;
  }

  .start-block__bg {
    width: 100%;
  }

  .start-block__bg img {
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  html {
    font-size: 18px;
  }

  .home__heading h1 {
    font-size: 3.8rem;
  }

  .instructions__title {
    font-size: 2.5rem;
  }

  .start-block__title {
    font-size: 3.5rem;
  }

  .item__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .content-text--mob-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 375px) {
  .home__heading h1 {
    font-size: 3rem;
  }

  .instructions__title {
    font-size: 1.8rem;
  }

  .start-block__title {
    font-size: 3rem;
  }

  .form__item--buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .form__item--buttons input {
    width: 100%;
    margin-bottom: 1rem;
  }

  .form__item--buttons .reset,
  .form__item--buttons .submit {
    border-radius: 25px !important;
    border-width: 2px !important;
  }

  .instructions__image {
    padding-right: 1.1rem;
  }
}

.webp .section__contacts{ background: url(../img/bg-footer.webp) center/cover no-repeat; }